.aboutWrapper {
  min-height: calc(100% - (140px + 100px));
}

.aboutMain {
  max-width: 48rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.aboutMain h2 {
  color: #262626;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.33;
}

.aboutMain p, .aboutMain a{
  color: #6b6b6b;
  font-size: 1.5rem;
  text-decoration: none;
  transition: .3s;
}

.aboutMain a:hover {
  filter: brightness(150%);
}

.aboutMain li{
  font-size: 1.5rem;
  color: #6b6b6b;
}

@media (min-width: 801px) {
  .aboutWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}