.footer {
  bottom: 0;
  color: #fff;
  height: 100px;
  background: black;
  border: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  flex-shrink: 0;
  margin-top: auto;
}

.contact {
  height: 80px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact img {
  width: 207px;
}

.contact img:hover {
  cursor: pointer;
}

.footer a {
  color: white;
}

.footer svg {
  margin: 9px 0 0 2px;
}