@font-face {
  font-family: "alternate-gothic-no-2-d";
  src: url("../fonts/alternate-gothic-no-2.otf");
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -msbox-sizing: border-box;
}

body {
  margin: 0;
  font-family:"alternate-gothic-no-2-d", sans-serif;
  background-color: #f2f2f2;
  overflow-x: hidden;
  width: 100%;
}
