.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin-bottom: 5rem;
}

.homeWrapper {
  max-width: 48rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.homeWrapper h1 {
  font-size: 2.5rem;
  line-height: 1.33;
  font-weight: 700;
  color: #262626;
  height: 20px;
}

.descriptionContainer p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #6b6b6b;
  font-family: Arial;
  letter-spacing: 2px;
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projectsCard {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1.3rem 0.5rem 1.3rem 0.5rem;
  border-radius: 0.37rem;
  background: #fff;
  box-shadow: 1px 1px 6px -4px grey;
}

.projectDescriptionContainer button {
  background: transparent;
  padding: 0;
  text-transform: none;
  width: 100%;
}

.imageContainer {
  display: flex;
}

.imageContainer img {
  width: 100%;
  border: 1px solid #eaeaea;
  border-radius: 0.22rem;
}

.projectDescriptionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding:1.25rem;
}

.projectNameContainer {
  display: flex;
  align-items: center;
}

.projectNameContainer h3 {
  font-size: 1.3rem;
  margin: 0;
  line-height: 1.2;
  font-weight: 700;
  color: #262626;
}

.logoContainer {
  height: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer a {
  margin: 3px;
}

.logoContainer img {
  width: 20px;
  height: 20px;
}

.projectDescriptionContainer p {
  word-wrap: break-word;
  margin: 0.5rem 0 0;
  color: #6b6b6b;
  font-size: 1rem;
  text-align: left;
}

@media (min-width: 801px) {
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .homeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .descriptionContainer {
    align-items: center;
  }

  .projectsCardContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .projectsCard {
    width: 345px;
    margin: 1.3rem 0 0 0;
  }
}
